<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    
    <link rel="shortcut icon" href="../static/images/Bot (1).png" type="image/x-icon">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/login-css.css">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <title>Cadastro meu bot</title>
</head>
<body>
    <main id="app">
        <section class="a">
            <header class="in-a">
                <h1>Verificar Conta</h1>
                <div class="logo">
                    <a href="/">    
                        <img src="../static/images/Bot (1).png" alt="botwinner">
                    </a>
                </div>
                <h3>Quase lá!!!</h3>
            </header>
            <form enctype="multipart/form-data" action="/verify" method="post">
                <div class="log-p2">
                    <div class="form-group">
                        <label for="l2">Codigo de verificação</label>
                        <input required name="code" type="text" class="form-control" id="l2" placeholder="Codigo">
                    </div> 
                </div>
                
                <div class="links"></div>
                    <a href="/sair">Sair da verificação</a>
                </div>
                </div>

                <div class="login-btn">
                    <button type="submit" class="btn btn-primary">Enviar codigo</button>
                </div>
              </form>
        </section>
        <section class="b">
            <img src="../static/images/fundo-login.webp" alt="">
        </section>
    </main>
</body>

</html>